body{
    /*background-color: rgb(204, 249, 131);*/
    padding: 5px;
    background-image: url("IMG/bg2.jpg");
    /*text-align: center;*/
    /*display: flex;
    justify-content: center;*/
}

.container{
    margin: 10px 10px 10px 10px;
}

.Trans{
    background-color: rgba(254, 254, 254, 0.5);
    border: 2px solid white;
}





/*-----------------------------------------------------
-----------------        TOP BAR       ---------------
-----------------------------------------------------*/





.Top{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 15px;
}

.top-title{
    width: 680px;
    height: 102px;
}

.side-img-top-l{
    width: 100px ;
    height: 100px ;
}

.side-img-top-r{
    width: 300px ;
    height: 100px ;
}










/*-----------------------------------------------------
----------------        CENTER       -----------------
-----------------------------------------------------*/
.nov{
    /*border: 1px solid black;*/
}

.nov1{
    /*border: 3px solid white;*/
    border-top: 2px solid white;
    border-bottom: 2px solid white;

}

.m-cent{
    /*margin-bottom: 15px;*/
    display: flex;
    justify-content: space-between;
    /*padding: 20px;*/

    height: 72vh;

    /*Added*/
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;
    will-change: overflow;
}

.CSides{
    margin-bottom: 15px;
    width: 13%;
    padding: 15px;
}

.CL{

}

.CC{
    width: 70%;
    margin: 0px 15px;
    margin-bottom: 15px;

        /*Add*/
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.CC::-webkit-scrollbar{
    display: none;
}



.CR{

}

.CElement{
    margin-bottom: 15px;
    padding: 15px;
}

.CLastElement{
    margin-bottom: 0px;
    padding: 15px;
}

.cc1{
    width: 600px;
    height: 283px;
    margin: 0px auto;
    display: block;
}

.C-Title{
    text-align: center;
    font-size: 55px;
    color: rgb(95, 235, 240);
}


.Tanis-Pic{
    margin: 0px auto;
    display: block;
    width: 400px;
    height: 400px;
}

.ship1-pic{
    margin: 0px auto;
    display: block;
    width: 504px;
    height: 201px;
}






.vid-box{
    border: 2px solid black;
    width: 640px;
    margin: 0px auto;
    padding: 40px;
    background-color: rgba(128, 247, 251, 0.3);
}

.vid-h2{
    text-align: center;
}

.vid-vid{
    margin:0px auto;
    display: block;
    width: 560px;
    height: 315px;
}





/*---------------  Left side ----------------------*/



.a-button{
    display: block;
    background-color: rgb(120, 182, 238);
    margin: 0 0 10px 0;
    padding: 7px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    font-family: impact;
    border: 1px solid rgb(0, 117, 255);
}
.a-button:hover{
    background-color: rgb(53, 131, 235);
}


.b-button{
    display: block;
    background-color: rgb(140, 97, 246);
    margin: 0 0 10px 0;
    padding: 7px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    font-family: impact;
    border: 1px solid rgb(0, 117, 255);
}












/*-----------------------------------------------------
-----------------      BOTTOM BAR      ---------------
-----------------------------------------------------*/



.bottom1{
    height: 55px;
    /*width: 250px;*/
    /*margin-left: 25px;*/
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border-radius: 10px;*/
}

.icon{
    width: 40px;
    height: 40px;
    margin: 7px 2px 0 2px;
}

.name{
    /*padding-left: 10px;*/
    margin: 4px 5px 0px 10px;
    font-size: 15px;
}
